#root {
  background: #212529;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fondo {
  background-image: linear-gradient(to bottom, #abc6de, #a3ced6, #aed3c8, #c5d4bc, #ded3ba);
}